<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Best Printer Billing</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" />
        <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css" />
        <link rel="stylesheet" href="~/lib/css/adminlte.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" />
        <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css" />
        <link rel="stylesheet" href="~/lib/css/adminlte.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </environment>

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        @await Component.InvokeAsync("Header")
        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @await Component.InvokeAsync("PageHeader")
                @await Component.InvokeAsync("Breadcrumb")
                <br />
                @await Component.InvokeAsync("PageAlert")
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @await Component.InvokeAsync("Footer")
        <!-- Control Sidebar -->
        @await Component.InvokeAsync("ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>
    <!-- ./wrapper -->
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. Slimscroll is required when using the
    fixed layout. -->

    @RenderSection("scripts", required: false)
    <script>
        //useSubmitClass();
        useDeleteConfirmation();
    </script>

    <environment names="Development">
        <!-- jQuery -->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/lib/overlayScrollbars/js/OverlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/js/adminlte.js"></script>

        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
        <script src="~/lib/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/lib/raphael/raphael.min.js"></script>
        <script src="~/libs/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/lib/jquery-mapael/maps/usa_states.js"></script>
        <!-- ChartJS -->
        <script src="~/lib/chart.js/Chart.min.js"></script>

        <!-- PAGE SCRIPTS -->
        <script src="~/lib/js/pages/dashboard2.js"></script>
    </environment>
    <environment names="Staging,Production">
        <     <!-- jQuery -->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/lib/overlayScrollbars/js/OverlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/js/adminlte.js"></script>

        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
        <script src="~/lib/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/lib/raphael/raphael.min.js"></script>
        <script src="~/libs/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/lib/jquery-mapael/maps/usa_states.js"></script>
        <!-- ChartJS -->
        <script src="~/lib/chart.js/Chart.min.js"></script>

        <!-- PAGE SCRIPTS -->
        <script src="~/lib/js/pages/dashboard2.js"></script>
    </environment>
</body>
</html>
