@model BestPrinterBilling.Models.TblMachine

@{
    ViewData["Title"] = "Add new entry";
}


<div class="box">
    <div class="box-header">
        
        <div class="pull-right">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="box-body">

        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    @* @Html.DropDownListFor(x=> Model.TblMachines, new SelectListItem(Model.tb,"Value","Text"), htmlAttributes: new { @class = "form-control", id = "LocationID" })*@
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="MachineId" class="form-control" />
                    <span asp-validation-for="MachineId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Serialnum" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Serialnum" class="form-control" />
                    <span asp-validation-for="Serialnum" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Devicemodel" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Devicemodel" class="form-control" />
                    <span asp-validation-for="Devicemodel" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group">
                <label asp-for="PriceBw" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PriceBw" class="form-control" />
                    <span asp-validation-for="PriceBw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PriceClr" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PriceClr" class="form-control" />
                    <span asp-validation-for="PriceClr" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PriceClrlrg" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PriceClrlrg" class="form-control" />
                    <span asp-validation-for="PriceClrlrg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrevRdsBw" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrevRdsBw" class="form-control" />
                    <span asp-validation-for="PrevRdsBw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrevRdsClr" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrevRdsClr" class="form-control" />
                    <span asp-validation-for="PrevRdsClr" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrevRdsClrlrg" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrevRdsClrlrg" class="form-control" />
                    <span asp-validation-for="PrevRdsClrlrg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurRdsBw" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurRdsBw" class="form-control" />
                    <span asp-validation-for="CurRdsBw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurRdsClr" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurRdsClr" class="form-control" />
                    <span asp-validation-for="CurRdsClr" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurRdsClrlrg" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurRdsClrlrg" class="form-control" />
                    <span asp-validation-for="CurRdsClrlrg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="QtyBw" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="QtyBw" class="form-control" />
                    <span asp-validation-for="QtyBw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="QtyClr" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="QtyClr" class="form-control" />
                    <span asp-validation-for="QtyClr" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="QtyClrlrg" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="QtyClrlrg" class="form-control" />
                    <span asp-validation-for="QtyClrlrg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrevInvoiceId" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrevInvoiceId" class="form-control" />
                    <span asp-validation-for="PrevInvoiceId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrevInvoiceTotal" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrevInvoiceTotal" class="form-control" />
                    <span asp-validation-for="PrevInvoiceTotal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurInvoiceId" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurInvoiceId" class="form-control" />
                    <span asp-validation-for="CurInvoiceId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurInvoiceTotal" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurInvoiceTotal" class="form-control" />
                    <span asp-validation-for="CurInvoiceTotal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContractStart" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ContractStart" class="form-control" />
                    <span asp-validation-for="ContractStart" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContractEnd" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ContractEnd" class="form-control" />
                    <span asp-validation-for="ContractEnd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CollectionMethod" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CollectionMethod" class="form-control" />
                    <span asp-validation-for="CollectionMethod" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MinCharge" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="MinCharge" class="form-control" />
                    <span asp-validation-for="MinCharge" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrintCountBw" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrintCountBw" class="form-control" />
                    <span asp-validation-for="PrintCountBw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrintCountColor" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrintCountColor" class="form-control" />
                    <span asp-validation-for="PrintCountColor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrintCountLarge" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PrintCountLarge" class="form-control" />
                    <span asp-validation-for="PrintCountLarge" class="text-danger"></span>
                </div>
            </div>

            <div class="box-footer">
                <div class="pull-left">
                    <a href="#">Back to top</a>
                </div>
                <div class="box-tools pull-right">
                    <input type="submit" value="Add new entry" class="btn btn-info" />
                </div>
            </div>
        </form>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





